@using ToDoAppBlazorServer.Models
@using ToDoAppBlazorServer.Services;
@inject ITodoService _todoService;

<EditForm Model="NewItem" OnValidSubmit="ItemAdded">
    <DataAnnotationsValidator />

    <div class="add-row">
        <InputText @bind-Value="NewItem.Text"
                   class="add-input"
                   placeholder="Add New Todo" />

        <button type="submit" class="add-btn">
            Add
        </button>
    </div>

    <ValidationMessage For="@(() => NewItem.Text)" />
</EditForm>