@page "/"
@using ToDoAppBlazorServer.Models
@using ToDoAppBlazorServer.Services;
@inject ITodoService _todoService;
@rendermode InteractiveServer

<PageTitle>Todo List</PageTitle>

<div class="container">

    <!-- HEADER -->
    <h1 class="title">Todo List</h1>

    <!-- NEW TODO INPUT -->
    <div class="add-box">
        <TodoItemForm OnItemAdded="ItemsChanged" />
    </div>

    <!-- TODO LIST -->
    <div class="todo-list">
        @foreach (var todo in Todos)
        {
            <!-- TODO ITEM -->
            <TodoItemTile TodoItem="todo"
                          ToggleItem="ToggleItem"
                          DeleteItem="DeleteItem" />
        }
    </div>

</div>