.title {
    margin-bottom: 20px;
    color: #4588b5;
}

.container {
    max-width: 500px;
    margin: 50px auto;
}

.add-box {
    margin-bottom: 20px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}